{% extends 'layout.html' %}
{% load static %}

{% block title %} {{object.nombre}} {% endblock title %}

  {% block content %}


  {% include 'header.html' %}
  

  <div id="detallebox" class="container" >
    <p class="grande"> Proyecto: {{object.nombre}} </p>

    <div class="container" style="min-height: 450px" >
    {% if object.imagen != 'null'  and object.imagen.url|length >= 1  %}
                      <div style="float: left;">
                         <img src="{{object.imagen.url}}" style="width: 500px; height:400px; margin-right: 30px;"/>
                        </div>
                  {% endif %}
        
        <div>Año de ejecucion: {{object.year}}</div>
        <div>Resumen: {{object.resumen}}</div>
        <div>Descripción: {{object.descripcion|safe}}</div>
        
        
    </div>
    <p class="grande">Galeria de fotos</p>
    
  </div>
  

  {% endblock content %}