{% extends 'layout.html' %}
{%load static%}

{% block title %}Categoria | {{dpto}} {% endblock title %}

{% block content %}

{% include 'header.html' %}



<div class="container col-10 my-3" style="background-color: #eee; border-radius: 1%; padding: 0px 50px">
    <div class="row">
        <div class="col-6 mt-4">
         <h4>Categoria: {{dpto}} </h4>
            <h1>Ofertas de empleo  </h1>
            
            
        </div>
        {% if user.username %}
        <div class="col-6 mt-4 text-end">

            <a type="button" class="btn btn-dark" href="#">Agregar nueva oferta de empleo</a>


        </div>

        {% endif %}
    </div>


    <div class="container">
        <div class="row">
            {% include 'empleo/bucle.html' %}
        </div>

    </div>

    {% include 'paginacion.html' %}


</div>




{% endblock content %}