{% extends 'layout.html' %}
{%load static%}

{% block title %}Pagina inicio{% endblock title %}


{% block content %}

{% include 'header.html' %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert" style="margin: 0;">
  {{message}}
</div>
{% endfor %}
{% endif %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/amanecer.jpg' %}" class="d-block w-100">

    </div>

  </div>
</div>

<div class="container-fluid">
  <br>
  <div class="row mx-3">
    <div class="col-lg-7 py-2">
      <div class="card" style="height: 100%;">
        <img src="{{home.imagen.url}}" style="height:80%" class="card-img-top rounded-top" alt="">

        <div class="card-body bg-dark pt-3 rounded-bottom">
          <h5 class="card-title text-white">{{home.nombre}}</h5>
          <p class="card-text mb-3 text-white">{{home.resumen}}</p>

          <a href="{% url 'proyecto_app:detalle' home.id %}" class="btn btn-secondary" >Ver proyecto</a>
        </div>
      </div>

    </div>

    <div class="col-lg-5">
      <div class="row">
        {% for entrada in portadas %}

        <div class="col-lg-6 py-2">
          
          <div class="card" style="height: 100%;">
            <img src="{{entrada.imagen.url}}" style="height:210px" class="card-img-top py-0 rounded-top" alt="">
            <div class="card-body bg-dark py-2 text-dark rounded-bottom d-flex flex-column" >
              <h5 class="card-title mb-3 text-white ">{{entrada.nombre}}</h5>

                <a href="{% url 'proyecto_app:detalle' entrada.id %}" class="btn btn-secondary mt-auto">Ver proyecto</a>

              
            </div>
          </div>
        </div>
  
        {% endfor %}
      </div>
      

    </div>

  </div>
  <br>
</div>


<div class="container-fluid bg-secondary py-3">
  <div class="container ">
    <div class="row ">

      <div class="col-lg-6">
        <h2>Trabaje con nosotros</h2>
      </div>

      <div class="col-lg-6 align-self-center">
        <div class="container text-end">
          <a class="btn btn-dark mx-2" style="font-size: 18px;" href="{% url 'empleo_app:empleo' %}"> <i
              class="fas fa-user-tie fa-sm" style="padding-right: 10px;"></i> Ofertas de empleo </a>
          <a class="btn btn-dark mx-2" style="font-size: 18px;" href="{% url 'home:formulario' %}"> <i
              class="far fa-address-card fa-sm" style="padding-right: 10px;"></i> Formulario de contacto </a>

        </div>

      </div>

    </div>
  </div>



</div>


{% endblock content %}