{% extends 'layout.html' %}
{%load static%}

{% block title %} Login {% endblock title %}

  {% block content %}

  {% include 'header.html' %}

    {% if user.username %}
    
    {% else %}
<div class="container">

  <div class="login container col-10 col-sm-8 col-md-6 col-lg-4" style="margin-top: 70px;">
    <div style="background-color: #2e5596; margin-bottom: 10px; color: white; padding: 15px;">Login de usuario - Lyansa
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-10">
      {{form.non_field_errors}}

        <form action="" method="post"> {%csrf_token%}
          <div class="form-floating">
            {{form.username}}
            <label for="floatingInput">Nombre de usuario</label>
          </div>
          <div class="form-floating my-3">
            {{form.password}}
            <label for="floatingInput">Contraseña</label>
          </div>

          <button type="submit" class="btn btn-outline-primary">Ingresar</button>

        </form>
      </div>
    </div>
    <br>
  </div>

</div>
    {% endif %}
  

  {% endblock content %}