{% extends 'layout.html' %}
{%load static%}

{% block title %}Registro{% endblock title %}


{% block content %}

{% include 'header.html' %}

{% if user.username %}

{% else %}
<div class="container col-6" style="margin-top: 40px;">
    <h1 class="grande" style="text-align: center;"> REGISTRO DE USUARIOS
    </h1>
    <form action="" method="post"> {%csrf_token%}
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    {{form.username}}
                    <label for="floatingInput">Nombre de usuario</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{form.email}}
                    <label for="floatingInput">Correo electronico</label>
                </div>

            </div>

        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    {{form.first_name}}
                    <label for="floatingInput3">Nombre</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{form.last_name}}
                    <label for="floatingInput4">Apellido</label>
                </div>

            </div>

        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    {{form.password1}}
                    <label for="floatingInput5">Contraseña</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    {{form.password2}}
                    <label for="floatingInput6">Repetir contraseña</label>
                </div>

            </div>

        </div>

        <br>

        <div class="d-grid justify-content-center">
            <button type="submit" class="btn btn-primary ">Registrar</button>
        </div>


    </form>

</div>
{% endif %}






{% endblock content %}