{% extends 'layout.html' %}
{%load static%}

{% block title %} Contacto {% endblock title %}

{% block content %}

{% include 'header.html' %}
<br>
<div class="container bg-dark rounded-top">
    <div class="row">
        <div class="container-fluid text-white py-3">
            <div class="container">
                <h1>Ubicanos</h1>
            </div>
        </div>
    </div>
    <div class="container col-11 col-xl-10">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-8 col-lg-5 col-xl-6">
                <div class="row text-white  " >
                
                        <div class="col-2 d-flex align-items-center justify-content-center text-center"><i
                                class="fas fa-map-marker-alt fa-3x"></i></div>
                        <div class="col-10 text-start">
                            <h2>Oficina Villavicencio</h2>
                            <p>Calle 47 # 29A – 04, Barrio Caudal</p>
                            <p>Carrera 33A #40 - 50, Oficina 302</p>
                        </div>
                    
                </div>

                <br>
                    <div class="row text-white">

                        <div class="col-2 d-flex align-items-center justify-content-center text-center"><i
                                class="fas fa-map-marker-alt fa-3x"></i></div>
                        <div class="col-10">
                            <h2>Oficina Barranquilla</h2>
                            <p>Carrera 53 # 75 – 87; 3er piso</p>
                        </div>
                    </div>

                <br>
                <br>
                    <div class="row text-white">

                        <div class="col-2 d-flex align-items-center justify-content-center text-center"><i
                                class="fas fa-calendar-alt fa-3x"></i></div>
                        <div class="col-10 pb-3 pb-lg-0">
                            <h3>Horario de atención</h3>
                            <p>Lunes a Viernes: 7:30am a 12:00pm – 2:00pm a 5:30pm</p>
                            <p>Sábados: 8:00am – 12:00pm</p>
                        </div>
                    </div>




            </div>
            <div class="col-12 col-lg-7 col-xl-6 rounded">
                <div class="container">
                    <div class="mapouter">
                        <div class="gmap_canvas h-100 h-sm-100"><iframe width="100%" height="100%" id="gmap_canvas" class="rounded"
                                src="https://maps.google.com/maps?q=lyansa%20electrica%20&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                href="https://yggtorrent-fr.com">yggtorrent</a><br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: left;
                                    height: 400px;
                                    width: 100%;
                                }
                            </style><a href="https://google-map-generator.com"></a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 400px;
                                    width: 100%;
                                }
                            </style>
                        </div>
                    </div>
                </div>

            </div>


    </div>
    <br>
</div>
</div>

<div class="container bg-secondary rounded-bottom">
    <div class="row">
        <div class="container-fluid text-dark py-3">
            <div class="container">
                <h1>Contactanos</h1>
            </div>
            <br>
            <div class="container col-12 col-lg-11 col-xl-9">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-7 ">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center justify-content-center text-center"><i
                                    class="fas fa-briefcase fa-2x"></i></div>
                            <div class="col-11 pt-1">
                                <h2>Ofertas y Comercial</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex align-items-center justify-content-center text-center"><i
                                    class="fas fa-at fa-lg"></i></div>
                            <div class="col-11 pt-1">
                                <h6>licitaciones@lyansa.com</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex align-items-center justify-content-center text-center"><i
                                    class="fas fa-phone-alt fa-lg"></i></div>
                            <div class="col-11 pt-1">
                                <h6>+57 320 857 5134</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center justify-content-center text-center"><i
                                    class="fas fa-briefcase fa-2x"></i></div>
                            <div class="col-11 pt-1">
                                <h2>Talento Humano</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex align-items-center justify-content-center text-center"><i
                                    class="fas fa-at fa-lg"></i></div>
                            <div class="col-11 pt-1">
                                <h6>talentohumano@lyansa.com</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex align-items-center justify-content-center text-center"><i
                                    class="fas fa-phone-alt fa-lg"></i></div>
                            <div class="col-11 pt-1">
                                <h6>+57 318 246 7772</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>
<br>
<div class="login container col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8  mt-3">
    <div class="bg-dark"style="margin-bottom: 10px; color: white; padding: 15px;">Formulario de contacto
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-10">

        <form class="row g-3" action="" method="post" enctype="multipart/form-data"> {%csrf_token%}
            
            {{form.as_p}}

          <button type="submit" class="btn btn-outline-primary">Enviar formulario</button>

        </form>
      </div>
    </div>
    <br>
  </div>

<br>
{% endblock content %}