{% extends 'layout.html' %}
{%load static%}

{% block title %}Información legal{% endblock title %}

{% block content %}

{% include 'header.html' %}
<div class="container-fluid text-dark py-3 my-2">
    <div class="container">
        <h1 style="font-size: 50px;"> Información legal</h1>
    </div>
    <br>
    <div class="container col-lg-10" style="background-color: #ddd; border-radius: 1%;">
        <div class="container col-lg-10">
            <div class="container">
                <br>
                <h1 style="font-size: 30px;"> Responsabilidad con el SGI</h1>
                <br>
                <p>Lyansa establece responsabilidades que absolutamente todos los trabajadores deben tener en cuenta y cumplir:</p>
                <br>
                <ol>
                    <li>Participar en el desarrollo, implementación y mejora de los procesos, procedimientos, programas, manuales y demás actividades relacionadas con el funcionamiento del SGI.</li>
                    <li>Informe las no conformidades, acciones y condiciones inseguras que se presenten en el puesto de trabajo.</li>
                    <li>Cumpla con todas las políticas establecidas por la empresa.</li>
                    <li>Cumpla las normas y procedimientos establecidos por Lyansa.</li>
                    <li>Haga uso racional de la energía y de los recursos naturales.</li>
                    <li>Cumpla el programa de manejo de residuos.</li>
                    <li>Participe en las actividades de promoción y prevención.</li>
                    <li>Reporte los incidentes y accidentes de trabajo.</li>
                    <li>Participe en los simulacros.</li>
                    <li>Haga buen uso de los botiquines.</li>
                    <li>Use adecuadamente de los EPI asignados por la empresa.</li>
                    <li>Conozca y aplique todos los aspectos relacionados con el plan de emergencia.</li>
                    <li>Asista a las capacitaciones en seguridad, salud ocupacional y ambiente programadas por la organización.</li>
                    <li>Participe en el COPASST cuando sea miembro y como invitado cuando se lo indique el presidente del mismo.</li>
                    <li>Sea parte integral del mejoramiento continuo de la organización.</li>
                    <li>Debe conocer y apoyar en el cumplimiento los objetivos empresariales y los indicadores de gestión.</li>

                </ol>
                
                <h1 style="font-size: 30px;"> Tratamiento de producto no conforme</h1>
                <br>
                <p style="text-align: justify;">Las empresas ofrecen productos y servicios, en Lyansa ofrecemos el servicio de ingeniería eléctrica. Cuando el servicio incumple con algún requisito determinado por el sistema de gestión de calidad se lo representa como Producto No Conforme. Si existe algún problema con el servicio proporcionado por Lyansa, se lo debe reportar. Puede reportarlo un cliente o un trabajador.</p>
                <br>
                <p style="text-align: justify;">Un PNC se puede presentar únicamente en el proceso misional, que es el proceso operativo dónde se realiza el servicio que ofrece Lyansa. Cuando  el producto no conforme se presenta reiteradamente, y está generando un mal servicio a nuestros clientes, se debe generar  una NO CONFORMIDAD con el formato análisis de oportunidades de mejora y establecimiento de acciones.</p> 
                <br> 
                <p style="text-align: justify;">Para ofrecer el servicio al cliente, el líder de la prestación del servicio o el coordinador o director de proyecto, recibe la información relacionada a la prestación de servicio en el formato: entrega de proyectos, dónde se estipula el alcance, las actividades que se debe realizar, las herramientas, los EPI, los documentos legales y los procesos que se requieran para el cumplimiento del servicio.</p> 
                <br>    
                <p style="text-align: justify;">Los trabajadores verifican cada actividad nombrada en el documento mencionado anteriormente con el formato: verificación de actividades donde establecen la lista de actividades y elemento necesarios para cumplir con el servicio. Si algún punto del alcance y las actividades no se cumplieron, tanto el trabajador como el cliente pueden reportar como un PNC. Puede ser que no se tenían las herramientas necesarias o que el trabajo se los dejó a la mitad, sin llegar a un acuerdo de cumplirlo completamente.</p> 
                <br>
                <h1 style="font-size: 30px;"> Seguridad y salud en el trabajo</h1>
                <br>
                <p>La Seguridad y salud laboral o Seguridad y salud en el trabajo (denominada anteriormente como «seguridad e higiene en el trabajo») tiene por objeto la aplicación de medidas y el desarrollo de las actividades necesarias para la prevención de riesgos derivados del trabajo.​ De esta materia se ocupa el convenio 155 de la OIT sobre seguridad.</p>
                <br>
                <p>Se construye en un medio ambiente de trabajo adecuado, con condiciones de trabajo justas, donde los trabajadores puedan desarrollar una actividad con dignidad y donde sea posible su participación para la mejora de las condiciones de salud y seguridad.</p>
                <br>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 style="font-size: 24px;"> Marco Legal de la Salud  Ocupacional en Colombia</h1>
                            
                            <ul>
                                <li>Ley 9/1979</li>
                                <li>Decreto 614/1984</li>
                                <li>Resolución 2013/1986</li>
                                <li>Resolución 1016/1989</li>
                                <li>Ley 100/1993</li>
                                <li>Decreto 1295/1994</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h1 style="font-size: 24px;">Campos de aplicación</h1>
                            <ul>
                                <li>Higiene Industrial</li>
                                <li>Seguridad Industrial</li>
                                <li>Medicina del  Trabajo</li>
                                <li>Medicina Preventiva</li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>




            <br>
        </div>
     </div>
 </div>



{% endblock content %}