{% extends 'layout.html' %}
{%load static%}

{% block title %} Login {% endblock title %}

  {% block content %}

  {% include 'header.html' %}

    {% if user.username %}
    
    {% else %}
<div class="container">

  <div class="login container col-10 col-sm-8 col-md-6 col-lg-4" style="margin-top: 70px;">
    <div style="background-color: #2e5596; margin-bottom: 10px; color: white; padding: 15px; font-size: 18px">LOGIN DE USUARIO - LYANSA
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-10">
      {% if form.non_field_errors %}
      {% for f in form.non_field_errors  %}
      <div class="alert alert-warning" role="alert">{{f}}</div>
      {% endfor %}
      
      {% endif %}
      
      

        <form action="" method="post"> {%csrf_token%}
          <div class="form-floating">
            {{form.username}}
            <label>Nombre de usuario</label>
          </div>
          <div class="form-floating mt-3">
            {{form.password}}
            <label>Contraseña</label>
          </div>
          <p><a href="{% url 'home:resetpassword' %}">Ha olvidado su contraseña?</a></p>
   
          <button type="submit" class="btn btn-outline-primary mt-2">Ingresar</button>

        </form>
      </div>
    </div>
    
    <br>
  </div>
  <br>
</div>
    {% endif %}
  

  {% endblock content %}