{% extends 'layout.html' %}
{%load static%}

{% block title %}Registro{% endblock title %}


{% block content %}

{% include 'header.html' %}

{% if user.username %}

{% else %}
<div class="container px-0 col-10 col-lg-8 col-xl-6 border border-primary rounded" style="margin-top: 40px;">
     <div class="text-center py-3" style="background-color: #2e5596; margin-bottom: 10px; color: white; font-size: 18px">REGISTRO DE USUARIOS
    </div>
    <div class="container">
    {% if form.errors %}
            {% for field in form  %}
            {% for error in field.errors %}
                <div class="alert alert-warning" role="alert">{{error}}</div>
            {% endfor %}
            
            {% endfor %}
            
            
            {% endif %}
        <form action="" method="post"> {%csrf_token%}
            
            
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        {{form.username}}
                        <label for="floatingInput">Nombre de usuario</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        {{form.email}}
                        <label for="floatingInput">Correo electronico</label>
                    </div>
    
                </div>
    
            </div>
            <br>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        {{form.first_name}}
                        <label for="floatingInput3">Nombre</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        {{form.last_name}}
                        <label for="floatingInput4">Apellido</label>
                    </div>
    
                </div>
    
            </div>
            <br>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        {{form.password1}}
                        <label for="floatingInput5">Contraseña</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        {{form.password2}}
                        <label for="floatingInput6">Repetir contraseña</label>
                    </div>
    
                </div>
    
            </div>
    
            <br>
    
            <div class="d-grid justify-content-center">
                <button type="submit" class="btn btn-outline-primary ">Registrar</button>
            </div>
            <br>
    
    
        </form>
    </div>
    

</div>
{% endif %}
<br>






{% endblock content %}