{% for pr in proyectos %}
<div class="container" style="margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #aaa">
  <div class="row">
    {% if pr.imagen != 'null' and pr.imagen.url|length >= 1 %}

    <div class="col-12 col-md-5">
      <img src="{{pr.imagen.url}}" class="d-block w-100" />
    </div>



    <div class=" col-12 col-md-7">

      <p><a class="nombreenlace" href="{% url 'proyecto_app:detalle' pr.id %}">{{pr.nombre}}</a></p>
      <span class="date">{{pr.created_at}} | {{pr.user}}</span>

      <p>
        {% for categoria in pr.Categories.all %}
        <a href="{% url 'proyecto_app:listacategoria' categoria.nombre %}" style="color: #555555;">{{categoria}}</a>
        {% endfor %}
      </p>

      <p class="resumen">

        {{pr.resumen}}

      </p>
      <a type="button" class="btn btn-dark" href="{% url 'proyecto_app:detalle' pr.id %}"> Detalle</a>
      {% if user.is_staff %}
      <a type="button" class="btn btn-warning" href="{% url 'proyecto_app:editarproyecto' pr.id %}"> Editar</a>
      {% endif %}



    </div>

    {% endif %}

  </div>


</div>

{% endfor %}