{% extends 'layout.html' %}
{%load static%}

{% block title %} Nuevo proyecto {% endblock title %}

  {% block content %}

  {{form.media}}
  {% include 'header.html' %}

  <div class="container col-lg-8">
    <h1 style="margin: 20px 0px;"> Nuevo Proyecto  </h1>
    <form action="" method="post" enctype='multipart/form-data'> {% csrf_token %}

        <div class="form-group row g-3">
          <div class="col-lg-6">
            <label for="inputnombre" class="form-label pb-1">Titulo</label>
            {{form.nombre}}
          </div>
          <div class="col-lg-6">
            <label for="inputyear" class="form-label pb-1">Año de ejecución</label>
            {{form.year}}
          </div>
          <div class="col-lg-12">
            <label for="inputresumen" class="form-label pb-1">Resumen</label>
            {{form.resumen}}
          </div>
          <div class="col-lg-12">
            <label for="inputcat" class="form-label pb-1">Categorias</label>
            {{form.Categories}}
          </div>
          <div class="col-lg-12">
            <label for="inputdesc" class="form-label pb-1">Descripción completa del proyecto</label>
            {{form.descripcion}} 
          </div>
          <div class="col-lg-12">
            <label for="inputimg" class="form-label pb-1">Selecciona la imagen de portada</label>
            {{form.imagen}} 
          </div>
          <div class="col-lg-12">
            <label for="inputimg" class="form-label pb-1">Publicar?</label>
            {{form.publico}} 
          </div>

          <button type="submit" class="btn btn-outline-primary">Crear</button>

        </div>

          

        

    </form>
    <br>
    

  </div>

  {% endblock content %}