{% extends 'layout.html' %}
{% load static %}

{% block title %} {{proyecto.nombre}} {% endblock title %}

  {% block content %}


  {% include 'header.html' %}
  

  <div class="container mt-3 pt-3 rounded-top" style=" background-color: #ddd;">
    <div class="container col-11 col-lg-10">
      <h1 class="text-dark fs-1" > Proyecto: {{proyecto.nombre}} </h1>
      <br>
    
    <div class="row">
      <div class="col-lg-6 pb-3 pb-lg-0 " >
          {% if proyecto.imagen != 'null'  and proyecto.imagen.url|length >= 1  %}
                      
              <img src="{{proyecto.imagen.url}}" style="max-height:500px;" class="d-block w-100 rounded" />
          {% endif %}
        </div>
      <div class="col-lg-6">
        <div><strong>Año de ejecucion:</strong> {{proyecto.year}}</div>
        <div><strong>Resumen:</strong> {{proyecto.resumen}}</div>
        <div><strong>Descripción:</strong> {{proyecto.descripcion|safe}}</div>
        </div>
      
    </div>
    
      </div>
      <br>
    </div>
    <div class="container mb-3 pb-3 rounded-bottom bg-dark text-white">
      <br>
      <div class="container col-lg-10 text-center text-md-start">
        <h1 class="fs-1">Galeria de fotos</h1>
        <br>
        <div class="row d-flex justify-content-center">
          {% for foto in galeria %}
          <div class="col-10 col-lg-6 mb-3">
            <img src="{{foto.imagen.url}}" class="d-block w-100 rounded" style="max-height: 400px"/>
          </div>
           
          {% endfor %}
        </div>
      </div>
  
      </div>
    
   
    
    
    
  
  

  {% endblock content %}